{% extends 'base.html' %}

{% block head %}
<title>Edit Post</title>
{% endblock %}

{% block body %}

<h1>Edytuj rodzinę</h1>

<!-- editing forms -->
    <hr>
    <h2>Edit:</h2>
    <form action="/stopnie/edit/{{stopnie.id}}" method="POST"> <!-- route '/posts' -->
        Title: <input class="form-control" type="text" name="names" id="names" value="{{stopnie.names}}">
        <br>
        Author: <input class="form-control" type="text" name="mail" id="mail" value="{{stopnie.mail}}">
        <br>
        Post: <input class="form-control" type="text" name="type" id="type" value="{{stopnie.type}}">
        <br>
        <input class="btn btn-primary" type="submit" value="Save">
    </form>
    <hr>

{% endblock %}