{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<h1></h1>

    <div>
      <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
          <left><h1>Baza rodzin - Komunikacja</h1></left>
             <p>Dodawaj oraz modyfikuj kolejne rodziny</p>

            <p>
               <left><a class="btn btn-primary" href="http://127.0.0.1:5000/showonea" role="button">Sekcja 1A »</a></left>

               <right><a class="btn btn-primary" href="http://127.0.0.1:5000/posts" role="button">Sekcja 1B »</a></right><br><br>
               <left><a class="btn btn-primary" href="http://127.0.0.1:5000/posts" role="button">Sekcja 2  »</a></left>
                <right><a class="btn btn-primary" href="http://127.0.0.1:5000/posts" role="button">Sekcja 3  »</a></right><br><br>
               <left><a class="btn btn-primary" href="http://127.0.0.1:5000/stopnie" role="button">Sekcja wszystkich stopni»</a></left>
          </p>
        </div>
      </div>
    </div>

{% endblock %}