{% extends 'base.html' %}

{% block head %}
<title>Stopień 1A</title>
{% endblock %}

{% block body %}
<br>
<h1>Stopień 1B</h1>

    <br>
    <h2>Dodaj nową rodzinę</h2>
    <form action="/showoneb" method="post">
        <br>
        Imiona i nazwisko:
        <input class="form-control" type="text" name="names" id="names" placeholder="Wpisz imiona" aria-label="Wpisz imiona">
        <br>
        Adres e-mail:
        <input class="form-control" type="text" name="mail" id="mail" placeholder="Wpisz email" aria-label="Wpisz email">
        <br>
        Typ warsztatów (1A, 1B, 2, 3):
        <input class="form-control" type="text" name="type" id="type" placeholder="Wpisz Rodzaj" aria-label="Wpisz rodzaj">
        <br>
        Data przeżytych warsztatów (dd-dd.mm.rrrr)(dd.mm-dd.mm.rrrr)
        <input class="form-control" type="text" name="date_participance" id="date_participance" placeholder="Wpisz Datę" aria-label="Wpisz Datę">
        <br>
        <input class="btn btn-success" type="submit" value="Dodaj">
        <br>
    </form>
   <br>

    {% for rodzina in showoneb %}
            <p><b>Imiona i nazwisko: {{ rodzina.names }} <br>
            e-mail: {{ rodzina.mail }}  <br>
            Stopień: {{ rodzina.type }} <br>
            Data: {{ rodzina.date_participance }} </b></p>
            <a class="btn btn-primary" href="/showoneb/edit/{{rodzina.id}}">Edytuj</a>
            <a class="btn btn-info" href="/showoneb/uponeb/{{rodzina.id}}">Przenieś do 1B</a>
            <a class="btn btn-info" href="/showoneb/uptwo/{{rodzina.id}}">Przenieś do 2</a>
            <a class="btn btn-info" href="/showoneb/upthree/{{rodzina.id}}">Przenieś do 3</a>
            <br><br>
    {% endfor %}
<br><br>
{% endblock %}